<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mtl" mimeType="application/mtl" />
            <mimeMap fileExtension=".obj" mimeType="application/obj" />
        </staticContent>
    </system.webServer>
</configuration>
